<app-admin></app-admin>

<!--Boostrap ở đây-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-3"
  data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="addClick()"
  data-backdrop="static" data-keyboard="false"
  >
  Đặt chuyến
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"  >
        </button>
      </div>
        <div class="modal-body">
          <app-crud-dc [dc]="dc" *ngIf="ActiveCrudDcComp"></app-crud-dc>
        </div>
      </div>
  </div>
</div>
<!--Hết Boostrap ở đây-->

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <!--ID Chuyến-->
        <div class="col-sm-10  d-flex flex-row">
          <!--Ô tìm kiếm-->
          <input [(ngModel)] = "FilterIDChuyen" class="form-control" (keyup) = "FilterFn()" placeholder="Tìm kiếm">
          <!--Sắp xếp tăng-->
          <button type="button" class="btn btn-light" (click)="sortResult('IDChuyen', true)">
            <!--Icon-->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
              <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
            </svg>
          <!--Sắp xếp giảm-->
          </button>
          <button type="button" class="btn btn-light" button type="button" class="btn btn-light" (click)="sortResult('IDChuyen', false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </div>
        ID Chuyến
      </th>

      <!--ID tài khoản-->
      <th>
        <div class="col-sm-10 d-flex flex-row">
          <input [(ngModel)] = "FilterIDTaiKhoan" class="form-control" (keyup) = "FilterFn()" placeholder="Tìm kiếm">
          <button type="button" class="btn btn-light" (click)="sortResult('IDTaiKhoan', true)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
              <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-light" button type="button" class="btn btn-light" (click)="sortResult('IDTaiKhoan', false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </div>
        ID TK
      </th>

      <!--ID khách hàng-->
      <th>
        <div class="col-sm-10 d-flex flex-row">
          <input [(ngModel)] = "FilterIDKhachHang" class="form-control" (keyup) = "FilterFn()" placeholder="Tìm kiếm">
          <button type="button" class="btn btn-light" (click)="sortResult('IDKhachHang', true)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
              <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-light" button type="button" class="btn btn-light" (click)="sortResult('IDKhachHang', false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </div>
        ID KH
      </th>

      <!--Điểm đón-->
      <th>
        <div class="col-sm-10 d-flex flex-row">
          <input [(ngModel)] = "FilterDiemDon" class="form-control" (keyup) = "FilterFn()" placeholder="Tìm kiếm">
          <button type="button" class="btn btn-light" (click)="sortResult('DiemDon', true)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
              <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-light" button type="button" class="btn btn-light" (click)="sortResult('DiemDon', false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </div>
        Điểm đón
      </th>

      <!--Thời gian đón-->
      <th>
        TG Đón
      </th>

      <!--Điểm kết thúc-->
      <th>
        <div class="col-sm-10 d-flex flex-row">
          <input [(ngModel)] = "FilterDiemKetThuc" class="form-control" (keyup) = "FilterFn()" placeholder="Tìm kiếm">
          <button type="button" class="btn btn-light" (click)="sortResult('DiemKetThuc', true)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
              <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-light" button type="button" class="btn btn-light" (click)="sortResult('DiemKetThuc', false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </div>
        Điểm kết thúc
      </th>

      <!--Thời gian kết thúc-->
      <th>
        TG kết thúc
      </th>

      <!--Giá Tiền-->
      <th>
        Giá tiền
      </th>

      <!--Trạng thái-->
      <th>
        <div class="col-sm-10 d-flex flex-row">
          <input [(ngModel)] = "FilterTrangThai" class="form-control" (keyup) = "FilterFn()" placeholder="Tìm kiếm">
          <button type="button" class="btn btn-light" (click)="sortResult('TrangThai', true)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
              <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-light" button type="button" class="btn btn-light" (click)="sortResult('TrangThai', false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </div>
        Trạng thái
      </th>


      <th>Chức năng</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor = "let dataItem of listDatChuyen">
      <td>{{dataItem.IDChuyen}}</td>
      <td>{{dataItem.IDTaiKhoan}}</td>
      <td>{{dataItem.IDKhachHang}}</td>
      <td>{{dataItem.DiemDon}}</td>
      <td>{{dataItem.ThoiGianDon}}</td>
      <td>{{dataItem.DiemKetThuc}}</td>
      <td>{{dataItem.ThoiGianKetThuc}}</td>
      <td>{{dataItem.GiaTien}}</td>
      <td>{{dataItem.TrangThai}}</td>

      <td>
        <button type="button" class="btn btn-light"
          data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </button>

        <button type="button" class=" btn btn-light"(click)="deleteClick(dataItem)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
